#DB instance properties that Elastic Beanstalk doesn't support can be configured in db-instance-properties.config
Resources:
  AWSEBRDSDatabase:
    # For available properties, check: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-rds-database-instance.html
    Type: AWS::RDS::DBInstance
    Properties:
      Tags:
        - Key: Name
          Value: "Beanstalk NodeJS RDS and Config setup RDS"
      Iops: 1000
